
            <div class="container">
                <div class="row">
                    <ul class="social-icon">
                        <li class="social-icon-item">
                        
                            <a href="tel:+50259655375" class="text-white social-icon-link" title="(502) 59655375" aria-label="Llámanos al teléfono (502) 59655375"><i class="bi-telephone-plus me-1"></i>(502) 59655375</a>
                        </li>
                        <li class="social-icon-item">
                            
                            <a href="mailto:help@myguate.com" class="text-white social-icon-link"  title="help@myguate.com" aria-label="Escríbenos al correo electrónico help@myguate.com"><i class="bi-envelope-plus me-1"></i>help@myguate.com</a> 
                        </li>
                        <li class="social-icon-item ms-5">
                            <a href="https://www.instagram.com/myguate_online/" class="social-icon-link social-icon-instagram bi-instagram"></a>
                        </li>

                        <li class="social-icon-item">
                            <a href="https://www.facebook.com/MyGuateVentas" class="social-icon-link social-icon-facebook bi-facebook"></a>
                        </li>

                        <li class="social-icon-item me-5">
                            <a href="https://wa.me/50259655375" class="social-icon-link social-icon-whatsapp bi-whatsapp"></a>
                        </li>
                        <li class="social-icon-item mg-copyright-text copyright-text mb-0 me-4">
                            &copy; <span id="current-year"></span> MyGuate.com — Todos los derechos reservados.

                        </li>
                    </ul>         
                    
                </div>
            </div>
