



	<!-- 🔹 TOP PROMO BAR -->

        <nav class="navbar navbar-expand-lg bg-light fixed-top shadow-lg">
            <div class="container">

			<!-- 🔹 LOGO -->
                <a href="/index.html" class="me-4" rel="home" aria-current="page"><img width="50" height="50" src="/assets/images/favicon/favicon-96x96.png" class="custom-logo" alt="MyGuate.com" decoding="async"></a>                    
                <a class="navbar-brand" href="/index.html">  My<span class="tooplate-red">Guate</span><span class="tooplate-green">.Com</span></a>
                    <a href="#" class="snipcart-checkout ms-2">
                        🛒 Cart (<span class="snipcart-items-count">0</span> items)
                    </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item" id="home-nav-item">
                            <a class="nav-link" href="/index.html">Incio</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarLightDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Políticas</a>

                            <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
                                <li><a class="dropdown-item" href="/politica_de_privacidad/">Políticas de Privacidad</a></li>

                                <li><a class="dropdown-item" href="/terminos_de_servicio/">Políticas de Servicio</a></li>

                                <li><a class="dropdown-item" href="/politica_de_reembolso/">Política de Reembolso</a></li>
                            </ul>
                        </li>                        

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle click-scroll" href="#" id="navbarLightDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Contact</a>

                            <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
                                <li><a class="dropdown-item" href="https://wa.me/50259655375" target="_blank">WhatsApp</a></li>

                                <li><a class="dropdown-item" href="tel:+50259655375" target="_blank">Teléfono</a></li>

                                <li><a class="dropdown-item" href="mailto:help@myguate.com" target="_blank">help@myguate.com</a></li>
                            </ul>
                        </li>

                        <li class="nav-item share-container">
                            <a id="share-toggle" class="nav-link share-button" href="#">Compartir</a>
                            <ul class="share-container">
                                <li id="share-options" class="share-options-panel">
                                <a href="https://www.facebook.com/sharer/sharer.php?u=https://www.myguate.com/" target="_blank" class="share-icon facebook social-icon-link social-icon-facebook bi-facebook" title="Comparte por  Facebook"></a>
                                <a href="https://www.instagram.com/myguate_online/" class="share-icon social-icon-link social-icon-instagram bi-instagram" title="Comparte por  Instagram" target="_blank"></a>
                                <a href="https://wa.me/?text=te%20quiero%20compartir%20este%20producto%20chilero%20pilas:%20https://www.myguate.com/" class="share-icon social-icon-link social-icon-whatsapp bi-whatsapp" target="_blank" title="Comparte por  WhatsApp"></a>

                                <a href="mailto:?subject=que productos&body=mira que chilero lo que encontré: https://www.myguate.com/" class="share-icon email social-icon-link social-icon-envelope bi-envelope-plus" title="Comparte por Email" target="_blank"></a>

                                <span class="bi bi-clipboard share-icon copy-url" onclick="copyToClipboard(window.location.href)" title="Copia el Link"></span>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        


                        <p class="lead">🚚 Envío y productos pago contra entrega | 🇬🇹 Servicio solo en Guatemala</p>
                        <p class="lead">MyGuate.Com! La tienda en línea de Guatemala. Mejorando la vida de los chapines.</p>
                       