



	<!-- 🔹 TOP PROMO BAR -->

        <nav class="navbar navbar-expand-lg bg-light fixed-top shadow-lg">
            <div class="container">

			<!-- 🔹 LOGO -->
                <a href="/index.html" class="me-4" rel="home" aria-current="page"><img width="50" height="50" src="/assets/images/favicon/favicon-96x96.png" class="custom-logo" alt="MyGuate.com" decoding="async"></a>                    
                <a class="navbar-brand" href="/index.html">  My<span class="tooplate-red">Guate</span><span class="tooplate-green">.Com</span></a>
                    <a href="#" class="snipcart-checkout ms-2">
                        🛒 Cart (<span class="snipcart-items-count">0</span> items)
                    </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link click-scroll" href="/index.html">Incio</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle click-scroll" href="#section_3" id="navbarLightDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Políticas</a>

                            <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
                                <li><a class="dropdown-item" href="/politica_de_privacidad/">Políticas de Privacidad</a></li>

                                <li><a class="dropdown-item" href="/terminos_de_servicio/">Políticas de Servicio</a></li>

                                <li><a class="dropdown-item" href="/politica_de_reembolso/">Política de Reembolso</a></li>
                            </ul>
                        </li>                        

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle click-scroll" href="#section_3" id="navbarLightDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Tienda</a>

                            <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
                                <li><a class="dropdown-item" href="shop-listing.html">Shop Listing</a></li>

                                <li><a class="dropdown-item" href="shop-detail.html">Shop Detail</a></li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link click-scroll" href="#section_4">Reviews</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link click-scroll" href="#section_5">Contact</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>

                        <p class="lead">🚚 Envío y productos pago contra entrega | 🇬🇹 Servicio solo en Guatemala</p>
                        <p class="lead">MyGuate.Com! La tienda en línea de Guatemala. Mejorando la vida de los chapines.</p>
                       