---
layout: default
title: Snipcart
---

<div id="snipcart-templates">
  <!-- The node tag must be the name of the component you want to override https://docs.snipcart.com/v3/setup/customization -->
  <billing>
    <snipcart-form @submit="save">
      <div class="snipcart__box">
        
        <overridable name="billing" section="top"></overridable>

        <fieldset class="snipcart-form__set">
          <h2 class="snipcart__font--subtitle">Facturación</h2>

          <div class="snipcart-form__row">
            
            <div class="snipcart-form__field">
              <snipcart-label for="firstName">Nombre(s)</snipcart-label>
              <snipcart-input name="firstName" placeholder="Ingrese su nombres" required="true"></snipcart-input>
              <snipcart-error-message name="firstName"></snipcart-error-message>
            </div>

            <div class="snipcart-form__field">
              <snipcart-label for="lastName">Apellidos</snipcart-label>
              <snipcart-input name="lastName" placeholder="Ingrese sus apellidos" required="true"></snipcart-input>
              <snipcart-error-message name="lastName"></snipcart-error-message>
            </div>
          </div>
          
          <div class="snipcart-form__row">

            <div class="snipcart-form__field">
              <snipcart-label for="email">Correo electrónico</snipcart-label>
              <snipcart-input name="email" placeholder="ejemplo@correo.com" required="true" type="email"></snipcart-input>
              <snipcart-error-message name="email"></snipcart-error-message>
            </div>

            <div class="snipcart-form__field">
              <snipcart-label for="phone">Número de teléfono</snipcart-label>
              <snipcart-input name="phone" placeholder="5555-5555" required="true" type="tel"></snipcart-input>
              <snipcart-error-message name="phone"></snipcart-error-message>
            </div>
          </div>
        </fieldset>

        <address-fields></address-fields>

        <hr class="snipcart-form__separator" v-if="shippingEnabled" />

        <fieldset class="snipcart-form__set" v-if="shippingEnabled">
          <div class="snipcart-form__field">
            <div class="snipcart-form__field-checkbox">
              <snipcart-checkbox name="useDifferentShippingAddress"/>
              <snipcart-label class="snipcart__font--tiny snipcart-form__label--checkbox" for="useDifferentShippingAddress">
                {{ $localize('billing.use_different_shipping_address') }}
              </snipcart-label>
            </div>
          </div>
        </fieldset>

        <overridable name="billing" section="bottom"></overridable>

        <div class="snipcart-form__footer">
          <submit-button type="submit" class="snipcart-cart-button--medium snipcart-cart-button--highlight snipcart__font--large snipcart-button-secondary">
            {{ shippingEnabled ? $localize('billing.continue_to_shipping') : $localize('payment.continue_to_payment') }}
          </submit-button>
        </div>
      </div>
    </snipcart-form>
  </billing>
  
  <address-fields>
    <fieldset class="snipcart-form__set">

      <div class="snipcart-form__field">
        <snipcart-label for="address1">Dirección</snipcart-label>
        <snipcart-input name="address1" placeholder="12 av. 7-21" required="true"></snipcart-input>
        <snipcart-error-message name="address1"></snipcart-error-message>
      </div>

      <div class="snipcart-form__row">
        
        <div class="snipcart-form__field">
          <snipcart-label for="address2">Zona</snipcart-label>
          <snipcart-input name="address2" placeholder="Zona 1" required="true"></snipcart-input>
          <snipcart-error-message name="address2"></snipcart-error-message>
        </div>

        <div class="snipcart-form__field">
          <snipcart-label for="district">Barrio / Colonia</snipcart-label>
          <snipcart-input name="district" placeholder="Nombre del barrio o colonia"></snipcart-input>
          <snipcart-error-message name="district"></snipcart-error-message>
        </div>
      </div>
      
      <div class="snipcart-form__row">
        
        <div class="snipcart-form__field">
          <snipcart-label for="canton">Cantón</snipcart-label>
          <snipcart-input name="canton" placeholder="Nombre del cantón"></snipcart-input>
          <snipcart-error-message name="canton"></snipcart-error-message>
        </div>
        
        <div class="snipcart-form__field">
          <snipcart-label for="apartment">Apto / Piso / Casa</snipcart-label>
          <snipcart-input name="apartment" placeholder="Opcional"></snipcart-input>
          <snipcart-error-message name="apartment"></snipcart-error-message>
        </div>
      </div>
      
      <div class="snipcart-form__row">

        <div class="snipcart-form__field">
          <snipcart-label for="city">Ciudad</snipcart-label>
          <snipcart-input name="city" placeholder="Nombre la ciudad" required="true"></snipcart-input>
          <snipcart-error-message name="city"></snipcart-error-message>
        </div>
        
        <div class="snipcart-form__field">
          <snipcart-label for="postalCode">Código Postal</snipcart-label>
          <snipcart-input name="postalCode" placeholder="Opcional"></snipcart-input>
          <snipcart-error-message name="postalCode"></snipcart-error-message>
        </div>
      </div>

      <div class="snipcart-form__field">
        <snipcart-label for="province">Departamento</snipcart-label>
        <snipcart-select name="province" required="true">
          <option value="">Seleccione departamento</option>
          <option value="Alta Verapaz">Alta Verapaz</option>
          <option value="Baja Verapaz">Baja Verapaz</option>
          <option value="Chimaltenango">Chimaltenango</option>
          <option value="Chiquimula">Chiquimula</option>
          <option value="El Progreso">El Progreso</option>
          <option value="Escuintla">Escuintla</option>
          <option value="Guatemala">Guatemala</option>
          <option value="Huehuetenango">Huehuetenango</option>
          <option value="Izabal">Izabal</option>
          <option value="Jalapa">Jalapa</option>
          <option value="Jutiapa">Jutiapa</option>
          <option value="Petén">Petén</option>
          <option value="Quetzaltenango">Quetzaltenango</option>
          <option value="Quiché">Quiché</option>
          <option value="Retalhuleu">Retalhuleu</option>
          <option value="Sacatepéquez">Sacatepéquez</option>
          <option value="San Marcos">San Marcos</option>
          <option value="Santa Rosa">Santa Rosa</option>
          <option value="Sololá">Sololá</option>
          <option value="Suchitepéquez">Suchitepéquez</option>
          <option value="Totonicapán">Totonicapán</option>
          <option value="Zacapa">Zacapa</option>
        </snipcart-select>
        <snipcart-error-message name="province"></snipcart-error-message>
      </div>
      
      <div class="snipcart-form__field">
        <snipcart-label for="notes">Otras instrucciones</snipcart-label>
        <snipcart-input name="notes" placeholder="Ej: después del puente, a la par the la gasolinera, etc." textarea="true"></snipcart-input>
        <snipcart-error-message name="notes"></snipcart-error-message>
      </div>
      
    </fieldset>
  </address-fields>

</div> <!-- snipcart-templates https://docs.snipcart.com/v3/themes/default/reference -->